.CartWidget {
    margin-bottom: 8px;
    margin-top: auto;
    margin-right: 10px;
}

.Button-cart {
    border: 2px solid;
    border-radius: 8px;
    border-color: #ffbf33;
    text-align: center;
    color:white;
    font-size: 20px;
    margin: 2px 1px;
    background: transparent;
    cursor:pointer;
    font-family: 'Roboto', sans-serif;
    width: fit-content;
    height: fit-content;
}





