.Navbar {
    width: 100%;
    display: flex;
    justify-content:space-between;
    font-family: 'Roboto', sans-serif;
    background-color: #9da5d2;
}

.Button-nav {
    border: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color:white;
    font-size: 20px;
    margin: 4px 2px;
    background: transparent;
    cursor:pointer;
    font-family: 'Roboto', sans-serif;
}

.Button-nav:hover {
    color: #ffbf33;
}

.Div-buttons {
    margin-bottom: 1px;
    margin-top: auto;
}

.Nav-logo {
    cursor:pointer;
    height: 10vmin;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}


